<div class="container">
  <div class="row">
    <div class="col-10">
      <h3><strong>登録情報編集</strong></h3>

      <%= form_with(model:@customer, url: public_customers_information_path ,method: :PATCH) do |f| %>
            <div class="row">
          <div class="col">
            <div class="field">
              <%= f.label :名前（姓）%>
              <%= f.text_field :first_name, autofocus: true,placeholder: "令和", class:"form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= f.label :名前（名） %>
              <%= f.text_field :last_name, placeholder: "道子",class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="field">
              <%= f.label :フリガナ（セイ） %>
              <%= f.text_field :first_name_kana, placeholder: "レイワ", class:"form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="field">
              <%= f.label :フリガナ（メイ） %>
              <%= f.text_field :last_name_kana,placeholder: "ミチコ", class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :郵便番号（ハイフンなし） %><br />
          <%= f.text_field :postal_code, placeholder: "0000000", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :住所 %><br />
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :電話番号（ハイフンなし） %><br />
          <%= f.text_field :phone_number, placeholder: "00000000000", class:"form-control" %>
        </div>
        <div class="actions">
          <td><%= f.submit "編集内容を保存する", class: "btn btn-primary mt-10" %></td>
          <td><%= link_to "退会する",  public_check_path, class: "btn btn-danger", style: "margin: 10px" %></td>
        </div>

    <% end %>

    </div>
  </div>
</div>


