<div class="container my-5">
  <div class="row mt-5">
    <div class="col-md-9">
      <div class="row">
        <div class="product_img">
          <% if @product.image.attached? %>
            <%= image_tag @product.image, size: "300x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "300x200" %>
          <% end %>
        </div>
        <div class="col-6 ml-md-3">
          <h5 class="mb-1"><%= @product.name %></h5>
          <p class="my-4"><%= @product.description %></p>
          <div class="row">
            <h5 class="ml-md-3"><%= @product.with_tax_excluded_price.to_s(:delimited) %>円</h5>
            <p class="ml-1 d-flex align-items-end">(税込)</p>
          </div>

          <div class="row d-flex justify-content-evenly">
            <%= form_with model: @cart_item, url: cart_items_path, method: :post, class: 'ml-md-3' do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.select :quantity, *[1..10], min: 0, include_blank: "個数選択", class: 'mr-md-3' %>
              <% if @product.is_status == true %>
                <%= f.submit "カートに入れる", class: 'btn btn-sm btn-success' %>
              <% else %>
                <div class="btn btn-sm btn-secondary mx-2 px-3">品切れ中</div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


