<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴一覧</h3>
      <table class="table table-striped" >
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |f| %>
          <tr>
            <td><%= f.created_at %></td>
            <td>
              <%= f.delivery_postal_code%>
              <%= f.delivery_address %>
              <%= f.delivery_name%>
            </td>
            <td>
              <% f.order_details.each do |d| %>
                <%= d.product.name %><br>
              <% end %>
            </td>
            <td><%= f.total_amount %></td>
            <td><%= f.status_i18n %></td>
            <td><%= link_to '表示する！', order_path(f.id),class:'btn btn-primary' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>