<div class="container">
  <div class="row">
    <div class="col">

      <h3 class="ml-5">注文情報入力</h3>
      
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
          <label><strong>支払方法</strong></label>
          <div class="ml-2">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </div>
          <div class="ml-2">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
          </div>
          
          <label><strong>お届け先</strong></label>
            <table class="ml-2">
              <tr>
                <th>
                  <%= f.radio_button :select_address, 0, checked: "checked" %>
                  <%= f.label :address_number_1, "ご自身の住所" %>
                </th>
                <td>ここにログインユーザの住所を入れる</td>
              </tr>
              <tr>
                <th>
                  <%= f.radio_button :select_address, 1 %>
                  <%= f.label :address_number_2, "登録済み住所から選択" %>
                </th>
                <td class="px-0">
                  <%= f.select :delivery_address_id, options_from_collection_for_select(ShippingAddress.all, :id, :address_display), {}, {class: 'form-control w-50 mx-0'}%>
                </td>
              </tr>
            </table>
            
            <table class="ml-2">
              <tr>
                <th>
                  <%= f.radio_button :select_address, 2 %>
                  <%= f.label :address_number_3, "新しいお届け先" %><br>
                </th>
                <td>郵便番号（ハイフンなし）</td>
                <td><%= f.text_field :post_code ,class: "form-control col-lg-4" %></td>
              </tr>
              <tr>
                <th></th>
                <td>住所</td>
                <td><%= f.text_field :address, size: 30*2,class: "form-control" %></td>
              </tr>
              <tr>
                <th></th>
                <td>宛名</td>
                <td><%= f.text_field :address_label,class: "form-control col-lg-4" %></td>
              </tr>
            </table>
            
            <div class="d-grid gap-2 col-6 mx-auto mt-3 text-center">
              <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
            </div>
      <% end %>
    </div>
  </div>
</div>