<header style="width: auto; background-color:rgb(196, 223, 223);">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="col-md-5 offset-2">
        <h1 class="sample" style="margin-top: 50px;">
          <a href="<%= root_path %>" style="font-family: Comic Sans MS; color: #99FFFF; text-decoration: none;">
            Nagano-Cake
          </a>
        </h1>
      </div>
      <nav class="navbar navbar-expand">
        <ul class="nav navbar-nav" style="margin-top: 30px;">
          <% if customer_signed_in? %>
            <!-- 顧客がログインしている場合 -->
            <li class="nav-link">
              <p class="nav-link" style="font-family: serif; margin-top: 15px;">
                ようこそ、<%= current_customer.first_name %>さん！
              </p>
            </li>
            <li class="nav-item">
              <a href="<%= public_customers_mypage_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                マイページ
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= products_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                商品一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= cart_items_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                カート
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= destroy_customer_session_path %>" data-method="delete" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                ログアウト
              </a>
            </li>
          <% elsif admin_signed_in? %>
            <!-- 管理者がログインしている場合 -->
            <li class="nav-item">
              <a href="<%= admin_products_path %>" class="nav-link button" style="font-family: serif; color: #000000; text-decoration: none;">
                商品一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= admin_customers_path %>" class="nav-link button" style="font-family: serif; color: #000000; text-decoration: none;">
                会員一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= admin_root_path %>" class="nav-link button" style="font-family: serif; color: #000000; text-decoration: none;">
                注文履歴一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= admin_genres_path %>" class="nav-link button" style="font-family: serif; color: #000000; text-decoration: none;">
                ジャンル一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= destroy_admin_session_path %>" data-method="delete" class="nav-link button" style="font-family: serif; color: #000000; text-decoration: none;">
                ログアウト
              </a>
            </li>
          <% else %>
            <!-- ログインしていない場合 -->
            <li class="nav-item">
              <a href="<%= about_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                About
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= products_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                商品一覧
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= new_customer_registration_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                新規登録
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= new_customer_session_path %>" class="nav-link" style="font-family: serif; color: #000000; text-decoration: none;">
                ログイン
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="d-flex flex-row justify-content-end">
      <%= render 'layouts/search' %>
    </div>
  </div>
</header>

<style>
.nav-item {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.nav-item:hover {
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.container {
  max-width: 90%;
  padding: 0;
}

.nav-item a {
  display: block;
  width: 100%;
  height: 100%;
}
</style>
