<header style="background-color:rgb(196, 223, 223);">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="col-md-3">
        <h1 class="sample" style="margin-top: 50px;">
          <a href="<%= root_path %>" style="font-family: Comic Sans MS; color: #99FFFF; text-decoration: none;">
            Nagano-Cake
          </a>
        </h1>
      </div>
      <nav class="navbar navbar-expand">
        <ul class="nav navbar-nav" style="margin-top: 30px;">
          <% if customer_signed_in? %>
            <!-- 顧客がログインしている場合 -->
            <li class="nav-link">
              <p class="nav-link" style="font-family: serif; margin-top: 15px;">
                ようこそ、<%= current_customer.first_name %>さん！
              </p>
            </li>
              <%= link_to public_customers_mypage_path, class:"nav-link" , style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-user fa-fw fa-lg "></i> マイページ
              </li>
              <% end %>
              <%= link_to products_path, class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-birthday-cake"></i> 商品一覧
              </li>
              <% end %>
              <%= link_to cart_items_path,class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item ">                
                <i class="fas fa-cart-arrow-down"></i> カート
              </li>
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-sign-out-alt"></i> ログアウト
              </li>
              <% end %>
          <% elsif admin_signed_in? %>
            <!-- 管理者がログインしている場合 -->
              <%= link_to admin_products_path, class:"nav-link button", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-birthday-cake"></i> 商品一覧
              </li>
              <% end %>
              <%= link_to admin_customers_path ,class:"nav-link button", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-users fa-fw fa-lg "></i> 会員一覧
              </li>
              <% end %>
              <%= link_to admin_root_path, class:"nav-link button", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-yen-sign fa-fw fa-lg "></i> 注文履歴一覧
              </li>
              <% end %>
              <%= link_to admin_genres_path ,class:"nav-link button", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-check fa-fw fa-lg "></i> ジャンル一覧
              </li>
              <% end %>
              <%= link_to destroy_admin_session_path ,method: :delete, class:"nav-link button" ,style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-sign-out-alt"></i> ログアウト
              </li>              
              <% end %>
          <% else %>
            <!-- ログインしていない場合 -->
              <%= link_to about_path , class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="far fa-thumbs-up fa-fw fa-lg faa-tada animated"></i> About
              </li>
              <% end %>
              <%= link_to products_path ,class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-birthday-cake"></i> 商品一覧
              </li>
              <% end %>
              <%= link_to new_customer_registration_path ,class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-user-plus"></i> 新規登録
              </li>
              <% end %>
              <%= link_to new_customer_session_path ,class:"nav-link", style:"font-family: serif; color: #000000; text-decoration: none;" do %>
              <li class="nav-item">                
                <i class="fas fa-sign-in-alt"></i> ログイン
              </li>
              <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="d-flex flex-row justify-content-end">
      <%= render 'layouts/search' , products: @product %>
    </div>
  </div>
</header>

<style>
.nav-item {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.nav-item:active {
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.container {
  max-width: 90%;
  padding: 0;
}

.nav-item a {
  display: block;
  width: 100%;
  height: 100%;
}
</style>
