<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h1 class="sample"><%= link_to 'Nagano-Cake', root_path,date: {"turbolinks" => false}, style: "font-family: Comic Sans MS; color: #99FFFF;" %></h1>
    </nav>
    <nav>
      <ul>
        <% if customer_signed_in? %>
        <!--顧客がログインしている場合-->
        <li>
          ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！
        </li>
        <li><%=link_to "マイページ",customers_show_path,style: "font-family: serif; color: #000000;" %></li>
        <li style="font-family: serif; margin-top: 15px; color: #696969;">|</li>
        <li><%=link_to "商品一覧",items_path,style: "font-family: serif; color: #000000;" %></li>
        <li style="font-family: serif; margin-top: 15px; color: #696969;">|</li>
        <li><%=link_to "カート",cart_item_path,style: "font-family: serif; color: #000000;" %></li>
        <li style="font-family: serif; margin-top: 15px; color: #696969;">|</li>
        <li><%=link_to "ログアウト",customers_show_path,style: "font-family: serif; color: #000000;" %></li>
        <li style="font-family: serif; margin-top: 15px; color: #696969;">|</li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>