<!DOCTYPE html>
<html>
  <head>
    <title>Nagano-Cake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if customer_signed_in? %>
    <body>
      <!--ヘッダー-->
      <div id="header">
        <%=render "layouts/header" %>
      </div>

      <!--body部分-->

      <!--footer-->
      <div id="footer">
        <%= render "layouts/footer" %>
      </div>
    </body>
    <% elsif admin_signed_in? %>
    <body>
      <!--header-->
      <div id="header">
        <%= render  "layouts/header" %>
      </div>

      <!--body部分-->

      <!--footer-->
      <div id="footer">
        <%= render "layouts/footer" %>
      </div>
    </body>
    <% else %>
    <body>
        <!--header-->
      <div id="header">
        <%=render "layouts/header" %>
      </div>

      <!--body部分-->

      <!--footer-->
      <div id="footer">
        <%= render "layouts/footer" %>
      </div>
    </body>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
